mat-sidenav-container {
    height: 100%;
  }
  mat-sidenav {
    width: auto;
    background-color: rgb(61, 61, 61);
  }
  a {
    color: white;
    text-decoration: none;
  }
  mat-card {
      text-align: center;
  }