<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-toolbar>
      <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
      </button>
      <span>Menu</span>
    </mat-toolbar>
    <a routerLink="/home" id="side"><mat-card>Home</mat-card></a>
    <a routerLink="/table" id="side"><mat-card>Processes</mat-card></a>
    <a routerLink="/charts" id="side"><mat-card>Charts</mat-card></a>
    <a routerLink="/login" id="side"><mat-card>Login</mat-card></a>
    <a routerLink="/about" id="side"><mat-card>About</mat-card></a>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/"><span>Web Task Manager</span></a>
      
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
