<div>
    <mat-card class="main-card">

        <mat-card-content class="header-title">
            <h2>Sign in</h2>
        </mat-card-content>

        <mat-card-content class="header-subtitle">Use your username and password</mat-card-content>

        <form #loginForm=ngForm (ngSubmit)="onSubmit(loginForm.value)">

            <mat-card-content class="form-field">

                <mat-form-field class="form-box" appearance="fill">
                    <mat-label>Enter your username</mat-label>
                    <input name="username" matInput placeholder="username" ngModel>
                </mat-form-field>

                <mat-form-field class="form-box" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input name="password" matInput [type]="hide ? 'password' : 'text'" ngModel>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

            </mat-card-content>

            <mat-card-content class="pass-field">
                <a routerLink="/home" class="pass-link">Forgot password?</a>
            </mat-card-content>

            <mat-card-content class="login-button">
                <button mat-raised-button color="accent" type="submit">Login</button>
            </mat-card-content>

        </form>
    </mat-card>
</div>