html,
body,
.material-app,
.mat-sidenav-container {
    height: 100%;
    width: 100%;
}

mat-sidenav {
    width: auto;
    background-color: rgb(61, 61, 61);
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

mat-card {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#side {
    padding-top: 50%;
}

.menu {
    margin: auto;
}