<mat-grid-list cols="2" rowHeight="100%">
    <div class="button-div">
        <button mat-raised-button color="accent" type="button" (click)="create = true" class="bt">Create</button>
        <button mat-raised-button color="accent" type="button" (click)="create = false" class="bt">Delete</button>
    </div>
    <mat-grid-tile>
        <div *ngIf="create">
            <app-register></app-register>
        </div>
        <div *ngIf="!create">
            <app-delete></app-delete>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <app-users></app-users>
    </mat-grid-tile>

</mat-grid-list>